*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.header-buttons{
    text-align: right;
    padding: 10px;
    height: 50px;
}
.btn{
    background-color: gray;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
/* MAIN */  

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    flex-shrink: 0;
    color: lightgray;
}
.main-container{
    min-height: 100px;
    display: flex;
    height: calc(100vh - 100px);
    padding-bottom: 50px;
}

.users-container{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    overflow-y: auto;
    height: 100%;
}

.user{
    width: 200px;
    height: 100px;
    border: 3px solid;
    position: relative;
    min-height: 100px;
    padding-bottom: 5px;
    transition: .3s;
}
.user:hover{
    border: 3px solid springgreen;
}

.user img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.user-name{
    position: absolute ;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 15px;
    font-size: 14px;
    color: white;
}


/* FOOTER */
[class*="footer"]{
    display: flex;
}
.footer-container {
    background-color: #232427;
    color: white;
    height: 50px;
}
.footer-section{
    align-items: center;
    flex-grow: 1;
}

.footer-section.middle{
    flex-grow: 4;
    justify-content: center;
}

.footer-item{
    padding: 0 15px;
    font-size: 22px;
    flex-direction: column;
    align-items: center;
}
/* .footer-section .show-more-arrow{

} */
.footer-item-text{
    font-size: 11px;
    padding-top: 5px;
}
.footer-item .count{
    font-size: 10px;
}
.footer-section.right{
    justify-content: end;
}
.footer-section.right a{
    text-decoration: none;
    color: red;
    padding: 15px 10px;
}
.footer-item .green-item{
    color: #4BC800;
}

/* FOOTER END */
